body{
    background-color: rgb(254, 255, 213);
    font-family: sans-serif;
}
h1{
    text-align: center; color: rgb(0, 0, 0);
    font-family: sans-serif;
}
h2{
    text-align: center; color: rgb(0, 0, 0);

}
p{
    font-size: 1.5em; font-family: Arial, Helvetica, sans-serif ; color: rgb(0, 0, 0);
}
h2{
    font-size: 1.5em; font-size: larger; color: rgb(0, 0, 0);
}
h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif cursive;
    font-size: 1em; color: rgb(0, 0, 0);
}
.container{
    width: 100%;
    display: inline-flex;
    max-width: 340px;
}
.card{
    width: 100%;
    height: 320px;
    border-radius: 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: white;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card img{
    width: 100%;
    height: 160px;
}
.container .card a{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    color: rgb(53, 144, 183);
    border: 1px solid rgb(53, 144, 183);
    border-radius: 4px;
    transition: all 0.25s;
}
.container .card a:hover{
    background-color: rgb(53, 144, 183);
    color: white;
}
